*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #9C9C9C;
    scroll-behavior: smooth;
    
}

body{
    background-color: black;
}


/* Elements Basic*/
h1,h2,h3,h4,h5,h6{
    color: aliceblue;
    
}





a{
    text-decoration: none;
    color: white;
    transition: all .2s;
    border-bottom: 3px transparent #62BA1B ;

}

a:hover{
    color: white;
    border-bottom: 3px solid #62BA1B;
    
}

section{
    /* height: 100dvh; */
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 2rem 0rem;

}

.btn{
    background: #3F8E00;
    border: none;
    box-shadow: 0px 0px 10px 0px #62BA1B;
    font-weight: 600;
    color: white;
}

.btn:hover{
    box-shadow: 0px 0px 6px 5px #62BA1B;
    cursor: pointer;
}

/* Sections */
.navbar{
    width:90%;
    height: 5rem;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    border-radius: 0rem 0rem 2rem 2rem;
    z-index: 999;
    
}

.links{
    height: 5rem;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    list-style: none;
}
/* Skills */




.skills-card{
    width: 40%;
    height: auto;
    padding: 1rem 2rem;
    border: 1px solid #1B1B1B;
    border-radius: 1.5rem;
    transition: all .5s ease;
}
.skills-card:hover{
    scale: 1.1;
    box-shadow: 0px 0px 5px 0px #1B1B1B;
}

/* Contact Me Section */






.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
   
    
    
}
.contact-form label input{
    height: 3rem;
    width: 24rem;
    margin-top: .5rem;
    padding: 1rem;
    border-radius: .5rem;
}
.contact-form label textarea{
    padding: 1rem;
    margin-top: .5rem;
    height: 10rem;
    width: 24rem;
    border-radius: .5rem;

}
.contact-form-btn{
    width: 24rem;
    height: 3rem;
}





/* Animations */

@keyframes cursor{
    from { border: 0;}
    to {border-right: 3px solid white ;}
}

@media (max-width:500px) {
.navbar{
    display: none;
}
/* .container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 80%;
} */

/* .hero-img{
    height: 10rem;
    width: 10rem;
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    h2{
        font-size: 2.25rem;
        width: 100%;
    }
} */
.skills-card{
    width: 90%;
}
.skills .external-link{
    top: 75%;
    flex-direction: column;
}
    
}